body {
    background-color: black!important;
}

.logFilesList a{
	color: whitesmoke;
}
.logFilesList a:hover
{	
	color: red;
	text-decoration: none;
}

.paginationWrapper
{
	display:inline-block;
	height:auto;
	color:#c26549;
	font-size: 1rem!Important;
}

.paginationWrapper strong{
	display:inline-block;	
	padding: 0 1rem;
	margin:0px;
	font-size: 1.5rem!Important;
}

.paginationWrapper a
{
	padding: 0 .5rem;
	margin:0px;
	display:inline-block;
	color: whitesmoke;
}

.paginationWrapper a:hover
{	
	color: red;
	text-decoration: none;
	font-size: 1.5rem!Important;
}

.logContainer{
	height:auto; 
	display:block; 
	text-align:left;
	color:#8f9d6a;
	font-weight:normal;
	clear:both;
}

.debug, .error, .info{
	display:block;
	border:1px solid #444;
	border-style:outset;
	border-left:none;
	border-right:none;
	white-space: pre-wrap;
}

a.deleteFile{
	float:right;
	color:#c26549;
	background-color:#44393f;
}

.debug{
	color:#8f9d6a;
}
.error{
	color:#c26549;
}
.info{
	color:#d8ce84;
}