input, select{
    background: transparent!Important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.35);
}

.card, .card-body, .card-header{
    background: transparent;
}

.requiredMark::before {
    content: "\f069  " !important;
    color: red;
    font-family: FontAwesome;
    text-decoration: none;
    font-size: .5em;
    float: left;
    margin-top: 0.8em;
    margin-right: .3em;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
    position: relative;
    padding-left: 30px!Important;
    cursor: pointer;
}

.popover {
    max-width: 50%;
    min-width: 20%;    
}

.bg-danger-alpha{
    background-color: #ff000024!Important;
}

@media (max-width: 414px) {
    .popover {
        max-width: 70%;
        min-width: 40%;
    }    
}